<!-- 1.0@bugzilla.org -->
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #%]

[% PROCESS global/header.html.tmpl
  title = "Simple bug guide"
  h1 = "Simple bug guide"
  h2 = "Enter bug information"
%]

<br />

<form method="post" name="f" action="/post_bug.cgi">
<input type="hidden" name="product" value="[% product FILTER html %]">
<input type="hidden" name="bug_status" value="UNCONFIRMED">
<input type="hidden" name="rep_platform" value="Other">
<input type="hidden" name="keywords" value="[% keywords FILTER html %]">
<input type="hidden" name="cc" value="">
<input type="hidden" name="bug_file_loc" value="">
<input type="hidden" name="form_name" value="enter_bug">
<input type="hidden" name="component" value="[% comp FILTER html %]">
<input type="hidden" name="bug_severity" value="[% severity FILTER html %]">
<input type="hidden" name="priority" value="[% priority FILTER html %]">
<input type="hidden" name="version" value="[% version FILTER html %]">
<input type="hidden" name="gg_version" value="[% gg_version FILTER html %]">
<input type="hidden" name="op_sys" value="All">
<input type="hidden" name="format" value="[% sbg_type FILTER html %]">

<table class="pretty" align="center" width="95%">
<tr><td class="pretty"><b>This is the last step.</b><br /><br /></td></tr>
<tr><td class="pretty" valign="top">Please enter a <b>short</b> summary of the bug.</td>
<td class="pretty"><input name="short_desc" size="71" value=""></td></tr>
<tr><td class="pretty" valign="top">What does the documentation currently
say?</td>
<td class="pretty"><textarea wrap="hard" name="comment" rows="5" cols="80">
</textarea></td></tr>
<tr><td class="pretty" valign="top">What should it say?
</td>
<td class="pretty"><textarea wrap="hard" name="correct" rows="5" cols="80">
</textarea></td></tr>
<tr><td class="pretty" valign="top">What section of the documentation is this
bug in?
</td>
<td class="pretty"><textarea wrap="hard" name="section" rows="1" cols="80">
</textarea></td></tr>
<tr><td class="pretty" valign="top">Is there any other information you wish to add to your bug report?</td>
<td class="pretty"><textarea wrap="hard" name="other" rows="5" cols="80"></textarea></td></tr>
<br />
</table>

<br />
<br />
<table class="pretty" align="center" width="95%">
<tr>
<td class="pretty">
<center>That's it! Press "File bug" to file your bug. Thank you!<br><br>
<input type="submit" value="File bug"></center>
</td>
</tr>
</table>

