<!-- 1.0@bugzilla.org -->
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Myk Melez <myk@mozilla.org>
  #                 Jeff Hedlund <jeff.hedlund@matrixsi.com>
  #%]

[%# Filter off the name here to be used multiple times below %]
[% name = name FILTER html %]

[% PROCESS global/header.html.tmpl 
  title = "Confirm Delete of Attachment Status '$name'" 
%]

<p>
   [% attachcount %] attachments have the status '[% name %]'. If you delete
   it, those attachments will lose this status.
</p>

<table>
   <tr>
      <td colspan=2>
         Do you really want to delete this status?
      </td>
   </tr>
   <tr>
      <td>
         <a href="editattachstatuses.cgi?action=delete&id=[% id %]">
            Yes, delete
         </a>
      </td>
      <td align="right">
         <a href="editattachstatuses.cgi">
            No, don't delete
         </a>
      </td>
   </tr>
</table>

[% PROCESS global/footer.html.tmpl %]
