<!-- 1.0@bugzilla.org -->
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Gervase Markham <gerv@gerv.net>
  #%]

[%# INTERFACE:
  # user: hash. Information about the user. If the user is not logged in,
  #       user.login is undefined.
  #   login: string. The user's Bugzilla login email address.
  #   showmybugslink: boolean. True if user wants My Bugs in the footer.
  #   queries: list of strings. The names of those of the user's named
  #     queries which should be displayed in the footer.
  #   groups: hash. Keys are group names, values are true if user in that group.
  #     The keys used in this template are
  #     tweakparams, editcomponents, creategroups, editkeywords, confirm,
  #     editbugs, editusers. 
  #%]

[%# Migration note: this whole file corresponds to the old %commandmenu% 
    substitution param in 'footerhtml' %]

<form method="get" action="/show_bug.cgi" style="margin: 0px;">
  <table width="100%">
    <tr>
      <td>
        <strong>Actions:</strong>
      </td>
      
      <td valign="middle" width="100%">
        <a href="/simple-bug-guide.cgi">New</a> <font size="-1">[<a href="/enter_bug.cgi">advanced version</a>]</font>| 
        <a href="/query.cgi">Search</a> |
        
        <input type="submit" value="Find"> bug # 
        <input name="id" size="6"> | 
        
        <a href="/reports/reports.cgi">Reports</a> 
       
        [% IF user.login && Param('usevotes') %]
          | <a href="/votes.cgi?action=show_user">My Votes</a>
        [% END %]      
        
        [% IF user.login %] 
          [% " | <a href='/sanitycheck.cgi'>Sanity&nbsp;check</a>" 
                                                     IF user.groups.tweakparams %]
        
          | <a href="/relogin.cgi">Log&nbsp;out</a>&nbsp;[% user.login %]
        [% END %]
      </td>
    </tr>
    [% IF user.login %] 
    <tr>
      <td valign="middle">
        <strong>Edit:</strong>
      </td>
      <td>
        <a href="/userprefs.cgi">prefs</a>
        [% ", <a href='/editparams.cgi'>parameters</a>" 
                                                   IF user.groups.tweakparams %]
        [% ", <a href='/editusers.cgi'>users</a>"     IF user.groups.editusers 
                                                  || (user.blessgroupset > 0) %]
        [% ", <a href='/editproducts.cgi'>products</a>" 
                                                IF user.groups.editcomponents %]
        [% ", <a href='/editattachstatuses.cgi'> attachment&nbsp;statuses</a>" 
                                                IF user.groups.tweakparams %]
        [% ", <a href='/editgroups.cgi'>groups</a>" 
                                                  IF user.groups.creategroups %]
        [% ", <a href='/editkeywords.cgi'>keywords</a>" 
                                                  IF user.groups.editkeywords %]
      </td>
    </tr> 

    [%# Preset queries %]
    
    [% preset_queries = (user.showmybugslink == 1) %]
    [% FOREACH q = user.queries %]
      [% IF q.linkinfooter == 1 %]
      [% preset_queries = 1%]
      [% END %]
    [% END %]
      
    [% IF preset_queries %]
    <tr>
        <td valign="middle">
          <strong>Saved&nbsp;Searches:</strong>
        </td>
      
      <td>
        [% IF user.showmybugslink %]
          [% filtered_username = user.login FILTER url_quote %]
          <a href="[% Param('mybugstemplate').replace('%userid%', filtered_username) %]">My&nbsp;Bugs</a>
          [% print_pipe = 1 %]
        [% END %]

        [% FOREACH q = user.queries %]
          [% IF q.linkinfooter %]
            [% " | " IF print_pipe %]
            <a href="/buglist.cgi?cmdtype=runnamed&amp;namedcmd=[% q.name FILTER url_quote %]"><nobr>[% q.name FILTER html %]</nobr></a>
            [% print_pipe = 1 %]
          [% END %]        
        [% END %]
      </td>
    </tr>
    [% END %]
      
    [% ELSE %]    
    <tr>
      <td>
	<strong>Not&nbsp;Logged&nbsp;In:</strong>
      </td>
      <td>
        <a href="/createaccount.cgi">New&nbsp;Account</a> | 
        <a href="/query.cgi?GoAheadAndLogIn=1">Log&nbsp;In</a>
      </td>
    </tr>
    [% END %]
  </table>                
</form>
